@use "../utils/variables" as *;

.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
  cursor: pointer;

  &--primary {
    background: $button-color;
    color: white;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }

  &--secondary {
    background: $secondary-color;
    color: $text-color;
  }
}